/* Gov */

header,
.product-icon,
main .secondary-options .front-option::after,
.benefits li::after {
 background-color: #0076DE;
}

.front header {
	background-image: url('../img/hero-1.jpg');
 }
 
 .front.logged-in header {
	background-image: url('../img/hero-1.jpg');
 }
 
 .form > header {
 background-image: url('../img/hero-1.jpg');
}
