header,
.product-icon,
main .secondary-options .front-option::after,
.benefits li::after {
 background-color: #3C8712;
}

.front header,
.offer-hero header {
	background-image: url('../img/hero-1.jpg');
 }
 
 .front.logged-in header {
	background-image: url('../img/hero-2.jpg');
 }
 
 
.form > header {
 background-image: url('../img/hero-2.jpg');
}