/* INSURANCE */

header,
.product-icon,
main .secondary-options .front-option::after,
.benefits li::after {
 background-color:  #DF3603;
}

.front header {
	background-image: url('../img/hero-1.jpg');
 }
 
 .front.logged-in header {
	background-image: url('../img/hero-2.jpg');
 }
 
  .form > header {
 background-image: url('../img/hero-2.jpg');
}