/* IAC widget sizing and helper classes */
#OnlineHelp,
#ServiceCaseGadget,
#ChatWrapper,
#ProactiveChat {
  position: fixed;
  right: -900px;
  height: 550px;
  top: 50%;
  margin: -275px 0;
  width: 450px;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 50px);
  overflow: auto;
  z-index: 2147483644;
  background: #fff;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
}

#ProactiveChat.alerting {
  right: 30px;
  top: 70%;
  height: 135px;
  z-index: 2147483645;
}
#OnlineHelp,
#ChatWrapper,
#ServiceCaseGadget,
#ChatFooter {
  transition: all 0.5s ease-in-out;
}
#OnlineHelp.expanded,
#ServiceCaseGadget.expanded,
#ChatWrapper.expanded {
  height: 850px;
  top: 50%;
  margin: -425px 0 !important;
}
#OnlineHelp.compacted,
#ServiceCaseGadget.compacted,
#ChatWrapper.compacted {
  height: 450px !important;
}
#OnlineHelp.minimized,
#ServiceCaseGadget.minimized,
#ChatWrapper.minimized,
#ChatFooter.minimized {
  right: -900px;
}
#OnlineHelp.alerting,
#ServiceCaseGadget.alerting {
  right: 2px;
  margin: -275px 0;
  top: 50%;
}
#OnlineHelp.showLeftPanel {
  width: 900px;
}
#OnlineHelp.hideLeftPanel {
  width: 450px;
}
#ChatWrapper {
  height: 550px;
  right: 2px;
  display: none;
  overflow: hidden;
}
#ServiceCaseGadget {
  height: 550px;
  right: 2px;
  display: none;
}
/* Hide the default chat launcher */
.chatLauncher {
  display: none;
}
/* Start of styles required to display chat in the full guide div */
#LocalChatHeader {
  height: 50px;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  font-weight: 300;
}
#HeaderText {
  padding-top: 16px;
  display: block;
  padding-left: 39px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  font-family: Open Sans, sans-serif;
  margin-right: -87px;
}
div#chatBox {
  position: inherit !important;
  width: inherit !important;
  box-shadow: none !important;
  font-size: 18px;
  color: #000000;
  font-family: Open Sans, sans-serif;
}
#chatContainer .poweredByPega {
  display: none !important;
}
div#messageBoxDiv {
  height: calc(850px - 209px) !important;
  width: inherit !important;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (max-width: 767px) {
  .chatContainer #messageBoxDiv {
    top: 100px !important;
  }
}
div#chatFloater {
  display: none !important;
}
div#chatIcon {
  display: none !important;
}
.minimizeIcon {
  display: none !important;
}
a#startChat {
  font-size: 21px !important;
  font-weight: 300 !important;
  color: black !important;
}
div#chatText {
  padding-top: 11px !important;
  padding-left: 14px !important;
  display: none !important;
}
.chatContainer #sendMessageField {
  height: 40px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 95% !important;
  border-top: none !important;
}
.chatContainer #sendMessageField {
  width: calc(100% - 60px) !important;
}
.chatContainer #sendMessageField:focus {
  box-shadow: none;
  border: none;
  color: black;
}
input#fileUploadIcon {
  height: 40px;
}
#chatContainer .sendButton {
  display: none !important;
}
div#ChatFooter {
  background-color: #f1f1f2;
  width: 450px;
  text-align: center;
  color: 929497;
  font-family: Open Sans, sans-serif;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 12px;
  height: 22px;
  padding-top: 8px;
}
/* End of styles required to display chat in full guide div */
#MinimizeChat {
  font-family: Open Sans, sans-serif;
  font-size: 2.3em;
  font-weight: 400;
  margin-top: -17px;
  margin-right: 10px;
  cursor: pointer;
}
#LocalChatSubheader {
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  margin-bottom: 7px;
  margin-top: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cccccc;
  margin-left: 14px;
  margin-right: 14px;
}
#SubHeaderText {
  padding-top: 4px;
}
.EndChat {
  float: right;
  background: white;
  border: 1px solid var(--interactiveColor);
  color: var(--interactiveColor);
  border-radius: 3px;
  padding: 5px 9px;
  margin-top: -25px;
  cursor: pointer;
}
.EndChat:hover {
  background: #e5f0ff;
}
#ChatLauncherminimized,
#servicecaselauncherminimized,
#launcherminimized,
#launcher {
  font-family: Open Sans, sans-serif;
  text-align: center;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: right bottom 0px;
  margin-right: 0px;
  border-radius: 6px 6px 0 0;
  position: fixed;
  bottom: 50%;
  right: -3px;
  padding: 7px;
  font-size: 20px;
  z-index: 2147483644;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}
#Preview {
  font-family: Open Sans, sans-serif;
  text-align: left;
  border-radius: 6px;
  position: fixed;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 45px;
  padding: 7px;
  color: #000000;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: none;
}
#launcher:hover {
  right: 0;
}
#unreadCounter {
  position: absolute;
  top: -13px;
  right: -9px;
  background-color: red;
  height: 23px;
  width: 22px;
  font-size: 16px;
  border-radius: 14px;
  transform: rotate(90deg);
  color: white;
  display: none;
  z-index: 2147483645;
}

.chat-button #OnlineHelp,
.chat-button #ServiceCaseGadget,
.chat-button #ChatWrapper,
.chat-button #ProactiveChat {
  right: 20px;
  bottom: -2000px;
  top: auto;
  left: auto;
  height: 600px;
  margin: 0;
}

.chat-button #OnlineHelp.alerting,
.chat-button #ServiceCaseGadget.alerting {
  bottom: 20px;
}

.chat-button #OnlineHelp.minimized,
.chat-button #ServiceCaseGadget.minimized,
.chat-button #ChatWrapper.minimized,
.chat-button #ChatFooter.minimized {
  top: auto;
  bottom: -2000px;
}
.chat-button #ProactiveChat.alerting {
  top: 70%;
  bottom: auto;
  height: 135px;
}

.chat-button #ChatLauncherminimized,
.chat-button #servicecaselauncherminimized,
.chat-button #launcherminimized,
.chat-button #launcher {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border-color: transparent;
  display: inline-table;
  transform: none;
  opacity: 0.8;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

.chat-button #ChatLauncherminimized:hover,
.chat-button #servicecaselauncherminimized:hover,
.chat-button #launcherminimized:hover,
.chat-button #launcher:hover {
  opacity: 1;
}

.chat-button #ChatLauncherminimized > img,
.chat-button #servicecaselauncherminimized > img,
.chat-button #launcherminimized > img,
.chat-button #launcher > img {
  display: block;
  width: 50px;
  height: 50px;
}

.chat-button #Preview {
  top: auto;
  bottom: 75px;
}

.chat-button #unreadCounter {
  transform: none;
  top: -4px;
}
