/* Color and decoration. */
body,
.form {
  background: #f7f7f7;
}

body.front,
body.offer {
  background: #fff;
}

a,
a:visited {
  color: var(--interactiveColor);
}

a.decorated,
a.decorated:visited {
  border-bottom-color: var(--interactiveColor);
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.content-card {
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.content-card span {
  color: #646363;
}

.primary-card {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.secondary-card {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}

.content-card.fatlist,
.content-card.offer-card {
  padding: 0;
}

.trend-error {
  color: #ff0900e6;
  font-size: 18px;
  font-weight: 700;
}

.pi.pi-error {
  color: #ff0900e6;
  font-weight: 700 !important;
}

.trend-success {
  color: #3c8712;
  font-size: 18px;
  font-weight: 700;
}

.pi.pi-success {
  color: #3c8712;
  font-weight: 700 !important;
}

.success-text {
  font-size: 40px;
  color: #3C8712;
}
