/* controls */

[disabled] {
  opacity: 0.33;
  pointer-events: none;
}

.logo {
  height: 30px;
  margin-right: 35px;
}

label {
  margin-top: 0;
  color: #646363;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
}

/* Select boxes, radois, checks, inputs */
select,
input,
textarea {
  margin-top: 0;
  background: #fff;
  border: 1px solid #d1d2d3;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  display: block;
  padding: 0 14px;
}

select,
input {
  height: 42px;
  font-size: 18px;
}

textarea {
  resize: none;
  overflow: hidden;
  display: block;
  tab-size: 4;
  font-size: 18px;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  height: auto;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

input[type='radio'] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  transition: 0.2s ease all;
  background: #ffffff;
  border: 1px solid #cacdd6;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 4px 0 0;
  box-sizing: border-box;
  padding: 0;
  vertical-align: top;
}

input[type='radio']:hover + label::before,
input[type='radio']:focus + label::before {
  border-color: var(--interactiveColor);
}

input[type='radio'] + label {
  pointer-events: all;
  position: relative;
  padding-left: 30px;
  padding-top: 0;
  cursor: pointer;
  width: 100%;
  margin: 0 10px 10px 0;
  display: inline-block;
  color: #1d2020;
  font-weight: normal;
  text-decoration: inherit;
  text-transform: none;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 28px;
}

input[type='radio']:checked + label::before {
  background: #fff;
  border-width: 9px;
  border-color: var(--interactiveColor);
}

.field-radiogroup > div {
  display: flex;
  flex-flow: row wrap;
}

select {
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.06 28.04' width='18' height='9'%3E%3Cpath fill='%23333' d='M47.51.64a1.91 1.91 0 00-2.7 0L24.1 23.25 3.35.65 3.17.47A1.91 1.91 0 10.66 3.35l21.87 23.84a1.69 1.69 0 00.13.31 2.15 2.15 0 002.85 0 1.75 1.75 0 00.13-.32L47.51 3.34a1.91 1.91 0 000-2.7z'/%3E%3C/svg%3E")
    right 15px top 50% no-repeat;
  padding-right: 48px;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

a,
button,
input,
textarea,
select {
  transition: all 0.25s ease-out;
}

textarea {
  height: 150px;
}

a:hover {
  cursor: pointer;
}

/* Checks */
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='checkbox']:hover,
input[type='checkbox']:active,
input[type='checkbox']:checked,
input[type='checkbox']:indeterminate {
  border-color: var(--interactiveColor);
}

input[type='checkbox']:checked,
input[type='checkbox']:indeterminate {
  background-color: #eceff8;
}

input[type='checkbox']:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

input[type='checkbox']:checked + label:before {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjIgMjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIyIDI2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+Cjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMjEuMSw3LjQgMjAuNiw2LjggMjAuMiw2LjUgNy43LDE5IDEuNSwxMi45IDAuMywxNC4yIDcuNywyMS40IDIxLjUsNy44ICIvPgo8L3N2Zz4K')
    no-repeat 50% 50%;
  background-color: var(--interactiveColor);
  background-size: 16px;
  border-color: var(--interactiveColor);
}

input[type='checkbox']:focus + label:before,
input[type='checkbox']:hover + label:before {
  border-color: var(--interactiveColor);
}

input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  transition: 0.2s ease all;
  border: 1px solid;
}

input[type='checkbox'] + label {
  pointer-events: all;
  position: relative;
  padding-left: 40px;
  padding-top: 4px;
  cursor: pointer;
  height: 28px;
  width: 100%;
  margin: 0 8px 0 0;
  display: block;
}

input[type='color'] {
  margin-right: 8px;
  min-width: 30px;
  width:30px;
  padding: 0;
  height: 30px;
  border: none;
}

/* Misc */
.hidden {
  opacity: 0;
  display: none;
}

.show {
  opacity: 1;
  display: block;
}

.overlay {
  background: #fff;
  position: absolute;
  padding: 35px 36px;
  right: 28px;
  align-items: center;
  filter: drop-shadow(0 3px 21px rgba(0, 0, 0, 0.5));
  top: 83px;
  transition: opacity 0.25s ease-out;
  z-index: 1000;
  max-width: 465px;
  min-width: 465px;
}

.overlay.logout {
  min-width: 0;
  right: 4px;
}

.overlay::after {
  content: '';
  width: 28px;
  height: 28px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: -14px;
  right: 36px;
  margin-left: -14px;
}

.overlay > *,
.field {
  margin-bottom: 25px;
}

.overlay > *:last-child {
  margin-bottom: 0;
}

button,
.button {
  background: var(--interactiveColor);
  border: 1px solid var(--interactiveColor);
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  min-height: 40px;
  min-width: 140px;
  border-radius: 3px;
  cursor: pointer;
}

button.more {
  height: 50px;
}

button.launch-login {
  margin-top: 3px;
  margin-bottom: 3px;
}

button.more,
button.more:hover,
button.more:active,
button.more:focus,
button.launch-login,
button.launch-login:hover,
button.launch-login:active,
button.launch-login:focus {
  background: #fff;
  color: var(--interactiveColor);
  border: 1px solid transparent;
}

button.launch-menu {
  margin-top: 3px;
  margin-bottom: 3px;
  background: transparent;
  font-size: 16px;
  border: none;
  min-width: 100px;
  margin-left: 16px;
}

button:hover {
  border-color: var(--interactiveColor);
}

button,
button:hover,
button:focus,
button:active {
  color: #fff;
  text-decoration: none;
}

button.secondary {
  border: none;
  background: #fff;
}

button.secondary:hover {
  border: none;
}

button.tertiary {
  background: none;
}

button.light {
  background: none;
  border: none;
  color: #fff;
  min-width: 40px;
  padding: 5px;
  opacity: 0.85;
  font-size: 18px;
}

button.light:hover,
button.light:focus,
button.light:active {
  opacity: 1;
}

button.secondary,
.button.secondary,
button.secondary:hover,
.button.secondary:hover,
button.secondary:focus,
.button.secondary:focus,
button.secondary:active,
.button.secondary:active,
button.tertiary,
.button.tertiary,
button.tertiary:hover,
.button.tertiary:hover,
button.tertiary:focus,
.button.tertiary:focus,
button.tertiary:active,
.button.tertiary:active {
  color: var(--interactiveColor);
}

button.simple {
  background: transparent;
  border: none;
  color: var(--interactiveColor);
  min-width: 0;
  padding: 0;
}

button.simple:hover,
button.simple:active,
button.simple:hover {
  background: transparent;
  border: none;
  color: var(--interactiveColor);
  text-decoration: underline;
}

.overlay button,
.overlay .button {
  width: 100%;
}

.overlay select,
.overlay input {
  width: 100%;
}

.field > * {
  margin-top: 5px;
}

.field :not(label) {
  order: 2;
}

.field.check {
  flex-direction: row;
}

.field.check * {
  order: 1;
  margin-right: 15px;
}

.field .error,
.field .helper {
  font-size: 16px;
}

.field .error {
  color: red;
}

.field .helper {
  color: #646363;
}

.password,
.username {
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.pi.product-icon {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.menu-overlay {
  background: #fff;
  position: absolute;
  transition: height 0.25s ease-in-out;
  filter: drop-shadow(0 3px 21px rgba(0, 0, 0, 0.5));
  right: 16px;
  min-width: 200px;
  height: 0;
  overflow: hidden;
  z-index: 2;
}

header .menu-overlay a {
  color: #414949;
  text-transform: none;
  padding-right: 28px;
  line-height: 40px;
  border-bottom: 1px solid #fdfdfd;
  text-align: right;
  display: block;
}

.fatlist > li {
  border-bottom: 1px solid #e6e7e8;
  padding: 3px 0;
  align-items: center;
  min-height: 28px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #646363;
}

th,
td {
  padding: 4px;
  color: #414949;
  text-align: left;
}

th.align-r,
td.align-r {
  text-align: right;
}

.filter {
  border: none;
  border-bottom: 1px solid #dedede;
  margin: 0 0 8px auto;
  max-width: 50%;
  color: #000;
}

.search-bar {
  position: relative;
}
.search-bar .pi-search {
  position: absolute;
  right: 0;
  bottom: 22px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 0;
  color: var(--interactiveColor);
  border: none;
  cursor: pointer;
  min-height: 40px;
  border: 1px solid var(--interactiveColor);
  border-radius: 3px;
  transition: all 0.25s ease-out;
}
button.file-download:hover,
button.file-download:active,
button.file-download:focus,
.inputfile:hover + label,
.inputfile:active + label,
.inputfile:focus + label {
  outline: 2px solid var(--interactiveColor);
  border-radius: 0;
}

button.file-download {
  color: var(--interactiveColor);
  background: #fff;
  font-weight: 600;
}

.kpi-item {
  display: flex;
  flex: 1 1 100px;
  padding: 0 8px;
}

td > input {
  width: 100%;
  inline-size: -moz-available;
}

@supports (-webkit-appearance: none) {
  input[type='datetime-local']::-webkit-inner-spin-button,
  input[type='date']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

  input[type='datetime-local']::-webkit-calendar-picker-indicator,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: block;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: #fff
      url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij48dGl0bGU+ZXZlbnRzPC90aXRsZT48ZyBpZD0iYnVkaWNvbi1ldmVudHMiPjxwYXRoIGQ9Ik0yNCwySDE5Vi41YS41LjUsMCwwLDAtMSwwVjJIN1YuNWEuNS41LDAsMCwwLTEsMFYySDFBMSwxLDAsMCwwLDAsM1YyM2ExLDEsMCwwLDAsMSwxSDI0YTEsMSwwLDAsMCwxLTFWM0ExLDEsMCwwLDAsMjQsMlptMCwyMUgxVjhIMjRaTTI0LDdIMVYzSDI0Wm0tOSw2SDEzVjExaDJabTUsMEgxOFYxMWgyWk03LDE4SDVWMTZIN1ptNSwwSDEwVjE2aDJaIi8+PC9nPjwvc3ZnPg==')
      no-repeat 100% 50%;
  }

  .field-combobox > input[type='text']::-webkit-calendar-picker-indicator {
    display: none;
  }
}

@supports (-moz-appearance: none) {
  input[type='date'] {
    background: #fff
      url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij48dGl0bGU+ZXZlbnRzPC90aXRsZT48ZyBpZD0iYnVkaWNvbi1ldmVudHMiPjxwYXRoIGQ9Ik0yNCwySDE5Vi41YS41LjUsMCwwLDAtMSwwVjJIN1YuNWEuNS41LDAsMCwwLTEsMFYySDFBMSwxLDAsMCwwLDAsM1YyM2ExLDEsMCwwLDAsMSwxSDI0YTEsMSwwLDAsMCwxLTFWM0ExLDEsMCwwLDAsMjQsMlptMCwyMUgxVjhIMjRaTTI0LDdIMVYzSDI0Wm0tOSw2SDEzVjExaDJabTUsMEgxOFYxMWgyWk03LDE4SDVWMTZIN1ptNSwwSDEwVjE2aDJaIi8+PC9nPjwvc3ZnPg==')
      no-repeat calc(100% - 8px) 50%;
    padding-right: 28px;
  }
}

.field-combobox > input,
button.action-menu {
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OC4wNiAyOC4wNCcgIHdpZHRoPScxOCcgaGVpZ2h0PSc5Jz48cGF0aCBmaWxsPSIjMTAxMzJFIiBkPSdNNDcuNDEuNTVhMS45MSAxLjkxIDAgMCAwLTIuNyAwbC0yMC43MSAyMi42MS0yMC43NS0yMi42LS4xOC0uMThhMS45MSAxLjkxIDAgMSAwLTIuNTEgMi44OGwyMS44NyAyMy44NGExLjY5IDEuNjkgMCAwIDAgLjEzLjMxIDIuMTUgMi4xNSAwIDAgMCAyLjg1IDAgMS43NSAxLjc1IDAgMCAwIC4xMy0uMzJsMjEuODctMjMuODRhMS45MSAxLjkxIDAgMCAwIDAtMi43eicgdHJhbnNmb3JtPSd0cmFuc2xhdGUoLjEgLjA5KScvPjwvc3ZnPg==')
    no-repeat 100% 50%;
}
