/* Special styling for the landing page */
body > #app.form.landing {
  background: #fff;
  height: auto;
}

.landing > header {
  height: 600px;
  padding-top: 7px;
}

.landing > main {
  margin-top: -500px;
  color: #414949;
}

.landing h1 {
  font-size: 32px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.landing-intro li {
  margin-bottom: 16px;
  font-size: 18px;
  color: #fff;
}

.landing-request {
  margin: 0 auto;
}

.landing-cards {
  margin-top: 75px;
}

.landing-intro .pi {
  font-size: 26px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.landing-intro .pi:before {
  text-align: center;
  width: 50px;
  line-height: 50px;
}

.landing-cards .pi {
  font-size: 40px;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #dedede;
}

.landing-cards p {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 800;
  color: #414949;
}

.landing-cards .pi:before {
  text-align: center;
  width: 80px;
  line-height: 80px;
}

.landing-request > div {
  max-width: 400px;
  margin-right: 16px;
}

.landing .primary-card h3 {
  font-size: 14px;
  font-weight: 800;
}

.landing .promo {
  text-align: center;
  padding: 55px 16px;
}

.landing .promo h4 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 0;
}

.landing-footer,
.landing-footer footer nav > div.flex > a,
.landing-footer p {
  color: #fff;
}

.landing-footer .promo h4 {
  color: #fff;
  font-weight: normal;
  padding-bottom: 30px;
}

.category-highlights,
.landing-benefits {
  background: #ececec;
}
.category-highlights > .flex {
  max-width: 1000px;
  margin: 0 auto;
}

.category-highlights > .flex > section {
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  padding: 24px;
}

.category-highlights p {
  margin: 16px 0 24px 0;
}

.landing-cards > div,
.landing-benefits > div {
  max-width: 780px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.landing-cards > .flex > div,
.landing-benefits > .flex > div {
  width: 260px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 18px;
}

.landing-cards > .flex > div {
  align-items: center;
}

.landing .landing-benefits span {
  text-align: left;
  margin: 8px 0 16px 0;
}

.landing-details > div {
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.landing-details > div > div {
  width: 50%;
}

.landing-details > div > .details {
  padding: 0 30px;
}

.landing-details h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.landing-details span {
  font-size: 14px;
}

.landing-details .line {
  width: 81px;
  height: 5px;
  border-radius: 5px;
  display: block;
  margin: 8px 0 21px 0;
}

.landing-details .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
