/* Special styling for the offer page */
body > #app.form.offer {
  background: #fff;
  height: auto;
}

.offer > header {
  height: 400px;
  padding-top: 7px;
  text-align: center;
}

.offer > header h1 {
  margin-top: 28px;
}

.category > header {
  height: 400px;
  background-position: 0% 0%;
}

.offer > header p {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.category h1,
.category h2,
.category h4 {
  text-align: center;
}
.category h2 {
  padding-top: 8px;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 34px;
}

.category > main {
  color: #414949;
}

.category > main > p {
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
}

.offer > main {
  margin-top: -140px;
  color: #414949;
  max-width: 1000px;
}

.offer > main.static-offer {
  max-width: 710px;
}

.offer .primary-card h3 {
  font-size: 20px;
  font-weight: 800;
}

.category .promo,
.offer .promo {
  text-align: center;
  padding: 55px 16px;
}

.offer .promo h4 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 0;
}

.offer-footer .promo h4,
.offer-footer footer nav > div.flex > a,
.offer-footer button.simple {
  color: #fff;
}

.offer-footer button.simple {
  min-width: 70px;
}

.offer-footer .promo h4 {
  font-weight: normal;
  padding-bottom: 30px;
}

.form.category .offer-footer .promo h4 {
  padding-bottom: 0;
  font-size: 28px;
  max-width: 360px;
  margin: 0 auto;
}

.offer-footer p {
  color: #fff;
}

.offer-card,
.offer-container,
.offer-card > .details {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.offer-card > .details > p {
  flex-grow:1;
}

.offer-cards .image,
.main-offer .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}

.main-offer > .image {
  width: 300px;
}

.main-offer > .details {
  margin-left: 30px;
  flex:1;
}

.main-offer p {
  font-size: 18px;
  color: #4a4a4a;
}

.offer-cards > .flex > div {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px 0 0 0;
  flex: 1;
  margin: 8px;
}

.offer-cards .highlight {
  border-top: solid;
  border-width: 1px;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 800;
  min-height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-cards p {
  font-size: 14px;
  color: #414949;
  padding: 0 8px;
}

.offer-cards .primary-card h3 {
  font-size: 18px;
  color: #414949;
  font-weight: 800;
  padding: 0 8px;
}

.offer-details {
  margin-bottom: 32px;
}
.category .offer-details {
  max-width: 600px;
  margin: 40px auto;
}

.offer-details .line {
  width: 81px;
  height: 5px;
  border-radius: 5px;
  display: block;
  margin: 8px 0 21px 0;
}

.offer-details .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding: 0;
  border-radius: 50%;
}

.offer-details > div > div {
  width: 50%;
}

.offer-details > div > div:first-child {
  padding: 0 56px 0 38px;
  min-width: 344px;
}

.offer-details > div > div:last-child {
  padding-left: 8px;
}

.offer-highlights > div {
  margin-bottom: 25px;
}

.offer-highlights .pi {
  font-size: 40px;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #dedede;
}

.offer-highlights p {
  font-size: 18px;
  font-weight: 800;
  color: #414949;
}

.offer-highlights .pi:before {
  text-align: center;
  width: 80px;
  line-height: 80px;
}
