.phone main {
  align-items: center;
  flex: 1;
  min-height: calc(100vh - 40px);
}

.phone select,
.phone input,
.phone textarea {
  font-size: 16px;
}

.phone .full-height > iframe {
  min-height: calc(100vh - 40px);
}

.phone .kmhelp > div {
  height: calc(100vh - 40px);
}

.phone aside {
  display: none;
}

.phone aside > .panel {
  position: fixed;
  width: 300px;
  height: 100%;
  transform: translateX(-300px);
  animation: all 0.3s ease-in-out;
}

.phone aside.show {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 2;
}

.phone aside.show > .panel {
  transform: translateX(0);
}

.phone aside header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
  height: 50px;
  padding: 10px;
}

.phone aside header .logo {
  height: 29px;
}

.phone aside nav {
  padding: 16px;
}

.phone aside nav > li > a,
.phone aside nav > li > a:visited,
.phone aside nav > li > a:hover,
.phone aside nav > li > a:focus,
.phone aside nav > li > a:active {
  color: #fff;
  font-size: 18px;
}

.phone header {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0;
}

.phone header button.nav-button {
  color: #fff;
  font-size: 21px;
  height: 40px;
  padding-left: 8px;
  border: none;
  background: transparent;
  min-width: auto;
}

.phone header .logo-link {
  flex: 1;
  text-align: center;
}

.phone header a > img {
  margin-right: 16px;
  height: 40px;
  padding: 5px 0;
}

.phone header h1 {
  color: #fff;
}

.phone .home-promo > div {
  width: 50%;
}

.phone .home-promo > .details {
  padding: 0 0 0 16px;
}

.phone .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.phone .primary-card,
.phone .secondary-card {
  padding: 30px;
  margin: 16px;
  width: calc(100% - 32px);
}

.phone .margin-t-0 {
  margin-top: 0;
}

.phone h1.small {
  font-size: 18px;
  font-weight: 700;
}

.phone h1 {
  text-align: center;
  font-size: 24px;
  margin: 16px 0;
  color: #414949;
  font-weight: 800;
  margin: 30px 0;
}

.phone .home > .hero {
  width: 100%;
}

.phone .home > .hero > h1 {
  max-width: 247px;
  font-size: 24px;
  padding: 30px 0 100px 0;
  margin: 0 auto;
  color: #fff;
}

.phone .main-actions {
  display: flex;
  flex-flow: row nowrap;
  margin-top: -70px;
  padding: 0;
}

.phone .main-actions > button {
  border: 1px solid #ececec;
  padding: 0 8px;
  height: 140px;
  flex: 1;
  color: #000;
  font-size: 18px;
}

.phone .main-actions > button > i {
  display: block;
  font-size: 1.4em;
  margin: 0 0 16px 0;
}

.phone .top-nav {
  padding: 5px 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 100%;
  height: 40px;
}

.phone .top-nav button {
  min-height: 30px;
}
.phone .top-nav .pi {
  font-weight: 800 !important;
  font-size: 18px;
}

.phone footer {
  margin: auto 0 0 0;
}

.phone footer nav > div.flex {
  margin: 8px;
  flex-flow: row;
  justify-content: space-around;
}

.phone footer nav > div.flex > a,
.phone footer button.simple,
.phone button.nav-button {
  color: #fff;
}

.phone .quick-links {
  text-align: center;
}

.phone .avatar {
  width: 30px;
  height: 30px;
  margin: 5px 8px 0 0;
}

.phone .overlay {
  right: 8px;
  top: 70px;
  min-width: 0;
}

.phone .overlay:not(.logout) {
  left: 8px;
  bottom: 8px;
}

.phone .overlay.logout {
  right: 8px;
}
.phone .overlay:after {
  right: 16px;
}

.phone .intro-quicklinks {
  background: #ececec;
  text-align: center;
}

.phone .intro-quicklinks p {
  padding: 16px;
  color: #000;
}

.phone .bottom-banner {
  padding: 16px;
  text-align: center;
  width: 100%;
}
.phone .layout-stacked > .field-item > input {
  height: 46px;
  border-radius: 2px;
  border-bottom: solid 1px #8a8a8a;
  background-color: #e8e8e8;
  padding: 10px 8px 0 8px;
}

.phone .top-icon {
  font-size: 20px;
  text-align: center;
}

.phone .tabs-details {
  min-height: calc(100vh - 123px);
  overflow-y: auto;
}

.phone .quick-links-account a {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.phone .quick-links button {
  color: #414949;
  font-weight: normal;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: left;
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
}

.phone .quick-links button > i {
  border-radius: 50%;
  height: 32px;
  min-width: 32px;
  line-height: 26px;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
}

.phone #OnlineHelp,
.phone #ServiceCaseGadget,
.phone #ChatWrapper {
  width: 300px;
}

.phone .offer-cards {
  padding: 16px;
}
.phone .offer-cards .primary-card {
  text-align: center;
}

.phone .offer-cards > div {
  flex-flow: column nowrap;
}
.phone .offer-cards .primary-card {
  width: auto;
  margin: 8px 0;
}

.phone button.launch-login,
.phone button.launch-login:hover,
.phone button.launch-login:active,
.phone button.launch-login:focus {
  background: transparent;
  color: #fff;
  display: inline-block;
}
