/* Text */

body,
button {
  font: 16px/1.43 'Open Sans', sans-serif;
}

body {
  color: #414949;
}

a,
a:visited {
  text-decoration: none;
  font-weight: 600;
}

a:not(.decorated):hover {
  text-decoration: underline;
}

a.fatlist-item {
  white-space: nowrap;
  margin-left: auto;
  text-align: right;
  padding-left: 28px;
}

p.fatlist-item {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

.quick-links li,
.benefits li {
  margin-bottom: 28px;
}

.benefits li {
  margin-left: 42px;
  position: relative;
}

.benefits li::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url('../img/checkmark-w.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px auto;
  top: -0;
  left: -42px;
  position: absolute;
  border-radius: 50%;
}

header a,
header a:visited {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

header span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

h1 {
  font-weight: 300;
  font-size: 42px;
  color: #fff;
  margin: 0 0 28px 0;
}

h2,
.col-2 h3 {
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 16px 0;
  color: #000;
  line-height: 1.2;
}

h1.hero {
  font-size: 90px;
  line-height: 1.1;
  color: #fff;
}

p {
  font-size: 18px;
  margin: 0 0 8px 0;
}

.separator > section {
  border-right: 2px solid #979797;
}
.separator > section:last-child {
  border-right: none;
}

.front-option > p {
  margin-bottom: 8px;
}
.category-option p {
  margin-bottom: 24px;
}

.category-option button {
  min-width: 0;
  height: 36px;
}

h1.hero span {
  display: block;
}

h3,
th {
  color: #646363;
}

h3 {
  font-size: 18px;
  margin: 0 0 21px 0;
}

h4 {
  font-size: 16px;
  margin: 8px 0;
  color: #000;
}

.quick-links li,
.quick-links a,
.col-2 h3,
.table-heading {
  font-size: 20px;
}

.col-2 h3 {
  margin: 21px 0 14px 0;
}

.quick-links li,
.quick-links a {
  font-weight: 700;
}

.banner > div {
  border-color: transparent;
}

.banner h3 {
  margin: 0 0 7px 0;
  text-transform: uppercase;
}

.banner p {
  font-size: 14px;
}

.banner,
.banner h3,
.banner p {
  color: #fff;
}

.banner button {
  margin-left: 7px;
}

.offer-text p {
  margin: 14px 0;
}

.offer-text h3,
h3.account-type {
  margin-bottom: 14px;
}

.table-heading {
  border-bottom: 1px solid #dedede;
  border-radius: 3px;
  margin: 0 -35px 21px -35px;
  padding: 0 35px 21px 35px;
}

table.align-center th,
table.align-center td {
  text-align: center;
  width: 33.3333%;
}

table.color-light tr {
  background-color: #f1f1f1;
}

table.color-light td {
  border: 1px solid #ffffff;
  padding: 8px;
  color: #000;
}

table.color-heading {
  border: 1px solid #dedede;
  border-radius: 3px;
}

table.color-heading tr.heading {
  background: #f1f1f1;
  font-size: 15px;
  height: 45px;
  font-weight: bold;
}

table.color-heading tr.footer {
  background: #f1f1f1;
  height: 45px;
}

table.color-heading .trend {
  font-size: 10px;
}

tr.heading {
  background: #f1f1f1;
  font-size: 12px;
  height: 45px;
  font-weight: bold;
}

.investmentamount {
  min-width: 130px;
  display: inline-block;
}

p {
  color: #646363;
}

p.activity {
  font-size: 20px;
  margin: 0;
}

time {
  text-transform: uppercase;
  color: #646363;
  font-size: 18px;
  font-weight: 600;
}

time span {
  display: block;
}

time.fatlist-item {
  min-width: 158px;
}

.keyrates h4 {
  color: #646363;
  font-weight: 300;
}

.keyrates h4 ~ table tr {
  font-size: 20px;
}

.cash-projections > div {
  align-items: center;
}

.cash-projections h2 {
  margin: -23px auto 0 0;
}

.cash-projections h4.dropdown {
  margin-top: -25px;
  color: var(--interactiveColor);
}

.cash-projections span {
  font-size: 20px;
  color: #000;
}

.cash-projections > div > div {
  margin-left: 20px;
}

.cash-projections > svg {
  border: 1px solid #ccc;
  margin-top: 10px;
}

.offer-card-col > .offer-card,
.front-option > .offer-card {
  position: relative;
}
.ai-overlay {
  display: none;
  position: absolute;
  top: 0;
  color: #fff;
  background-color: rgba(39, 59, 63, 1);
  flex-flow: column nowrap;
}

.ai-overlay.show {
  display: flex;
  min-width: 385px;
  z-index: 2;
  opacity: 0.85;
}

.ai-overlay > .footer-img {
  margin: auto 0 0 0;
  border-top: 1px solid #fff;
  text-align: right;
  background: url(../img/pega-logo.png) 0 0 no-repeat;
  height: 40px;
}

.rts-logo {
  background: url(../img/pega-logo.png) 0 0 no-repeat;
  height: 40px;
}

.ai-overlay > ul {
  text-align: left;
  padding: 16px;
}

.ai-overlay > ul > li {
  word-break: break-all;
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;
}

.ai-overlay label {
  font-weight: 700;
  min-width: 165px;
  display: inline-block;
  color: #fff;
  margin: 0 8px 0 0;
}
.ai-overlay span {
  word-break: break-all;
  display: inline-block;
}

.ai-toggle {
  font-size: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
  min-width: auto;
  height: 49px;
  align-self: flex-end;
}

.rts-overlay {
  width: 100%;
  height: 100px;
  background-color: #344251;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transition: transform 0.2s ease;
  padding: 0 14px;
  transform: translateY(80px);
}

.rts-overlay > div {
  padding-top: 21px;
}

.rts-overlay > div > .flex {
  max-width: 500px;
}

.rts-enable {
  margin: 14px 14px 14px auto;
}

.rts-overlay.expanded {
  transform: translateY(0);
}

.rts-toggle {
  font-size: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  width: 40px;
  min-width: auto;
  padding: 0;
}

.rts-enabled .primary-options > .front-option.cdh-offer,
.rts-enabled .offer-container {
  outline: 1px dashed #f7112d;
  cursor: pointer;
}

.pi.pi-rts-error {
  background: #f7112d;
  border-color: #fff;
}

.rts-overlay-toggle {
  position: absolute;
  left: 70px;
  top: -15px;
}

.rts-overlay span {
  font-size: 16px;
  color: #fff;
}

.rts-overlay .comment {
  background-color: #1c242d;
  height: 66px;
  overflow-y: auto;
  font-size: 13px;
  color: #fff;
  flex: 1;
  padding: 14px 14px 0 14px;
  margin-left: 14px;
  flex: 1;
}

.rts-overlay .comment > p {
  color: #fff;
  margin: 0;
  font-size: 13px;
}

.scorecard {
  font-size: 22px;
}
