.pega-mashup {
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  min-height: 400px;
  color: #1d2020;
}

.pega-mashup fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.primary-card > .pega-mashup {
  padding: 8px 16px;
  margin-bottom: 24px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.main-header ~ h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pega-mashup button.Simple,
.pega-mashup button.Simple:active,
.pega-mashup button.Simple:focus,
.pega-mashup button.Simple:hover {
  background: none;
  color: var(--interactiveColor);
  min-width: 0;
  outline: none;
  display: flex;
  align-items: center;
  border: none;
}

.pega-mashup button.Light,
.pega-mashup button.Light:active,
.pega-mashup button.Light:hover,
.pega-mashup button.Light:focus {
  background: none;
  min-width: 0;
  display: inline-block;
  padding: 0;
  height: auto;
  width: fit-content;
  color: var(--interactiveColor);
  border: none;
}

.pega-mashup button.action-menu,
.pega-mashup button.action-menu:active,
.pega-mashup button.action-menu:hover,
.pega-mashup button.action-menu:focus {
  color: var(--interactiveColor);
  border: var(--interactiveColor) 1px solid;
  min-width: auto;
  padding: 0 30px 0 16px;
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OC4wNiAyOC4wNCcgIHdpZHRoPScxOCcgaGVpZ2h0PSc5Jz48cGF0aCBmaWxsPSIjMTAxMzJFIiBkPSdNNDcuNDEuNTVhMS45MSAxLjkxIDAgMCAwLTIuNyAwbC0yMC43MSAyMi42MS0yMC43NS0yMi42LS4xOC0uMThhMS45MSAxLjkxIDAgMSAwLTIuNTEgMi44OGwyMS44NyAyMy44NGExLjY5IDEuNjkgMCAwIDAgLjEzLjMxIDIuMTUgMi4xNSAwIDAgMCAyLjg1IDAgMS43NSAxLjc1IDAgMCAwIC4xMy0uMzJsMjEuODctMjMuODRhMS45MSAxLjkxIDAgMCAwIDAtMi43eicgdHJhbnNmb3JtPSd0cmFuc2xhdGUoLjEgLjA5KScvPjwvc3ZnPg==')
    no-repeat calc(100% - 8px) 50%;
}

.layout-content-default.flex,
.layout-content-stacked.flex,
.layout-content-stacked_with_labels_left {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.flex.layout-content-inline_grid_double {
  flex-flow: row wrap;
  display: flex;
}
.flex.layout-content-inline_grid_double > div:nth-child(2n + 1) {
  width: calc(50% - 8px);
  margin-right: 8px;
}
.flex.layout-content-inline_grid_double > div:nth-child(2n) {
  width: calc(50% - 8px);
  margin-left: 8px;
}
.flex.layout-content-inline_grid_30_70 > div:nth-child(2n + 1) {
  width: calc(30% - 8px);
  margin-right: 8px;
}
.flex.layout-content-inline_grid_30_70 > div:nth-child(2n) {
  width: calc(70% - 8px);
  margin-left: 8px;
}
.flex.layout-content-inline_grid_70_30 > div:nth-child(2n + 1) {
  width: calc(70% - 8px);
  margin-right: 8px;
}
.flex.layout-content-inline_grid_70_30 > div:nth-child(2n) {
  width: calc(30% - 8px);
  margin-left: 8px;
}
.flex.layout-content-inline_grid_triple > div:nth-child(3n+1) {
  width:calc(33.33333% - 8px);
  margin-right: 8px;
  margin-bottom: 8px;
}
.flex.layout-content-inline_grid_triple > div:nth-child(3n+2) {
  width:calc(33.33333% - 8px);
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}
.flex.layout-content-inline_grid_triple > div:nth-child(3n) {
  width:calc(33.33333% - 8px);
  margin-left: 8px;
  margin-bottom: 8px;
}
.layout-content-stacked.flex > * {
  margin-bottom: 8px;
}
.layout-content-default.flex > * {
  margin-bottom: 16px;
}
.layout-content-stacked_with_labels_left > .field-item {
  flex-flow: row;
  margin-bottom: 8px;
}
.layout-content-stacked_with_labels_left > .field-item .field-caption {
  margin-right: 8px;
  margin-bottom: 0;
  width: 200px;
}
.layout-content-inline.flex > *,
.layout-content-inline_middle.flex > * {
  margin-right: 8px;
}
.layout-content-inline_middle.flex {
  align-items: center;
}
.layout-content-inline_middle.flex > *:last-child {
  margin-right: 0;
}
.flex.field-item.field-table {
  overflow-x: auto;
  flex-flow: column nowrap;
}
.layout-content-default-form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 8px;
  column-gap: 16px;
  margin-bottom: 16px;
}
.layout-content-default-form-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.layout-content-default-form-2 .field-table,
.layout-content-default-form-2 .field-richtext,
.layout-content-default-form-2 .field-textarea,
.layout-content-default-form-2 .field-checkbox,
.layout-content-default-form-2 .field-radiogroup {
  grid-column: 1 / span 2;
}

.layout-content-default-form-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.layout-content-default-form-3 .field-table,
.layout-content-default-form-3 .field-richtext,
.layout-content-default-form-3 .field-textarea,
.layout-content-default-form-3 .field-checkbox,
.layout-content-default-form-3 .field-radiogroup {
  grid-column: 1 / span 3;
}

.flex.main-header {
  min-height: 40px;
  margin-bottom: 8px;
}
.flex.main-header > h2 {
  margin-bottom: 0;
}
.flex.main-header > h2 > span {
  white-space: nowrap;
}
.flex-col {
  flex-flow: column;
}
.flex-all {
  flex: 1;
  margin: 0 8px;
}
.flex.margin-l-auto {
  margin-left: auto;
}
.flex-paragraph li {
  list-style: inside disc;
}
.align-center {
  align-items: center;
}
.field-item {
  display: flex;
  flex-flow: column;
}
.field-item .field-caption {
  margin-bottom: 3px;
  margin-top: 6px;
  min-height: 20px;
  display: block;
}
.field-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 28px;
}
.field-checkbox {
  flex-flow: row nowrap;
  margin-top: 23px;
  align-items: center;
}
.field-checkbox > label {
  line-height: 25px;
}
.field-checkbox > .field-caption {
  color: #000;
  font-size: 16px;
  flex: 0 0 100%;
  min-height: 0;
}

.field-radiogroup > div {
  flex-flow: row;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.field-phoneinput > div {
  flex-flow: row;
  align-items: center;
  display: flex;
}

.field-phoneinput > div > input {
  flex: 1;
}

.field-attachment .row-item {
  padding: 4px;
  border: 1px dashed #ccc;
  max-width: 480px;
  margin-top: 0;
}
.field-currencyinput > div {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.field-currencyinput > div > input {
  padding-inline-start: 2ch;
  width: 100%;
}

.currency-symbol {
  position: absolute;
  left: 7px;
  top: 25%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.field-attachment .file-upload {
  background: transparent;
  border-color: #ccc;
}
.table-content {
  overflow-x: auto;
  overflow-y:hidden;
  flex-flow: column nowrap;
  display:flex;
}
.table-content td > input,
.table-content td > select,
.table-content td > textarea {
  width: -webkit-fill-available;
  inline-size: -moz-available;
}

.rdl .pzhc.pzbutton,
table .pzhc.pzbutton {
  background: none;
  color: #1d2020;
  min-width: 30px;
  border: none;
  color: var(--interactiveColor);
}
.rdl > div {
  border-bottom: 1px solid #aaa;
  padding-bottom: 8px;
  padding-top: 8px;
}
.rdl h3 {
  margin-bottom: 4px
}
.rdl > div:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.rdl > div:first-child {
  padding-top: 0;
}
table .pzhc.pzbutton:hover,
table .pzhc.pzbutton:focus,
table .pzhc.pzbutton:active {
  color: var(--interactiveColor);
}
.right-aligned {
  text-align: right;
  justify-content: flex-end;
}
.field-combobox {
  position: relative;
}
.field-combobox > .data-list.visible {
  position: absolute;
  top: 42px;
  border: 1px solid #ccc;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
  max-height: 300px;
  overflow: auto;
}
.data-list > ol {
  margin: 7px 0 0 0;
  padding-left: 7px;
}
.action-button-area {
  display: flex;
  flex-flow: row;
  padding-top: 16px;
  border-top: 1px solid #ccc;
}
.action-button-area > button {
  margin-right: 8px;
}
.action-button-area > button:last-child {
  margin: 0 0 0 auto;
}
.validation:not(:empty),
.error {
  padding: 14px;
  background: #ffd9db;
  color: #1d2020;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}

.error button {
  margin-left: auto;
  background: transparent;
  color: #1d2020;
  min-width: auto;
}

div[readonly],
input[readonly],
textarea[readonly] {
  background-color: #fafafa;
  border-color: transparent;
}
input[readonly],
select[readonly],
input[type='checkbox'][readonly] + label,
input[type='radio'][readonly] + label {
  pointer-events: none;
}

input[readonly],
select[readonly] {
  opacity: 0.7;
}

#case-data {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.helper-text {
  color: rgba(0,0,0,.7 );
  font-size: 12px;
  font-style: italic;
  line-height: 1;
  margin-top: 4px;
}

#case-data > div:first-child {
  flex: 1;
}
.button-menu {
  position: relative;
  display: inline-block;
}
.button-menu > ul {
  position: absolute;
  top: 100%;
  background: #fff;
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;
  right: 0;
}
.button-menu > ul > li {
  margin: 0;
  white-space: nowrap;
  display: block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #333333;
  margin: 0;
}
.button-menu > ul > li:focus,
.button-menu > ul > li:hover {
  background: #bbbbbb;
  outline: none;
}

.icon-required:after {
  vertical-align: middle;
  content: '*';
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  color: #d91c29;
  padding-left: 3px;
}

.field-text > span:empty::after {
  content: '\2013\2013';
  color: #808080;
}

.badge_text {
  background-color: #088488;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 4px;
  text-align: center;
  margin-top: 1px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.success {
  background-color: #daf2e3;
  color: #1d2020;
  text-align: center;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.mashup-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(6, 6, 6, 0.3);
  z-index: 2;
  transition: opacity 0.4s ease-in-out;
}
.mashup-modal > div {
  height: 60vh;
  max-width: 800px;
  width: 80vw;
  margin: 15vh auto;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 16px;
}
.mashup-modal > div > .main-header {
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.attach-files {
  margin: 16px 16px 0;
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow-y: auto;
}
.pega-mashup .file-upload {
  background: rgba(0, 116, 212, 0.05);
  border: 1px dashed #0076d1;
  padding: 16px;
  display: flex;
  align-items: center;
}
.drop-file-hover {
  background: rgba(0, 116, 212, 0.15);
}
.pega-mashup .file-upload input {
  display: none;
}
.row-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}
.upload-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow-y: auto;
}
.list-items .empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.list-item-title {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.list-item-meta {
  font-size: 14px;
}
.list-item-meta > span:after {
  content: '|';
  margin: 0 3px;
}
.list-item-meta > span:last-child:after {
  content: '';
}
.doc-icon {
  position: relative;
  margin-right: 8px;
}
.doc-icon > svg {
  width: 30px;
  height: 30px;
}
.doc-icon > span {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 8px;
  font-size: 7px;
  text-transform: uppercase;
  text-align: center;
}
.count-badge {
  min-width: 24px;
  line-height: 24px;
  border-radius: 12px;
  background-color: #e9eef3;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 12px;
  margin-top: -9px;
  margin-left: -3px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading > .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #0076d1;
  border-radius: 50%;
  animation: Loading-ellipsis 1s infinite cubic-bezier(0.4, 0.6, 0.1, 1);
}

.loading > .dot:nth-child(2) {
  animation-delay: 0.1667s;
}

.loading > .dot:nth-child(3) {
  animation-delay: 0.3334s;
}

@keyframes Loading-ellipsis {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.rich-text-main {
  display: flex;
  flex-flow: column nowrap;
}
.rich-text-main h1,
.rich-text-main h2,
.rich-text-main h3 {
  color: #000;
}
.rich-text-main .editor-actions {
  overscroll-behavior: contain;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rich-text-main .editor-actions::-webkit-scrollbar {
  display: none;
}

.rich-text-main .editor {
  border: 1px solid #ccc;
  overflow: auto;
  height: 216px;
  min-height: 216px;
}
.rich-text-main .toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.rich-text-main [contenteditable] {
  outline: 0px solid transparent;
  min-height: 200px;
  height: 200px;
  font-size: 14px;
  padding: 8px;
}
.rich-text-main .toolbar > button,
.rich-text-main .toolbar > select {
  margin-right: 2px;
  height: 30px;
  font-size: 11px;
}
.rich-text-main .toolbar button {
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 2px;
  min-height: 30px;
  background: #fff;
  min-width: 0;
}
.rich-text-main .toolbar .active {
  background: #ccc;
}
.rich-text-main blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

.rich-text-main img {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  /* Force table to not be like tables anymore */
  .pega-mashup table.responsive,
  .responsive thead,
  .responsive tbody,
  .responsive th,
  .responsive td,
  .responsive tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .pega-mashup table.responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pega-mashup table.responsive tr {
    border: 1px solid #ccc;
    margin: 8px 0;
    padding: 8px;
  }

  .pega-mashup table.responsive td {
    border: none;
    position: relative;
    text-align: left;
    padding: 4px 0 4px 60%;
    height: auto;
  }

  .pega-mashup table.responsive td:before {
    position: absolute;
    left: 8px;
    padding-right: 8px;
    text-align: left;
    font-weight: bold;
    max-width: 59%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .pega-mashup table.responsive td:before {
    content: attr(data-title);
  }

  .pega-mashup table.responsive td.hide-collapsed {
    display: none;
  }

  .pega-mashup table.responsive .pzhc.pzbutton {
    height: auto;
    padding-left: 0;
  }
}

@media only screen and (max-width: 800px) {
  .flex.layout-content-inline_grid_70_30,
  .flex.layout-content-inline_grid_30_70,
  .flex.layout-content-inline_grid_double,
  .flex.layout-content-inline_grid_triple {
    flex-flow: column nowrap;
    margin-bottom:0;
  }
  .flex.layout-content-inline_grid_70_30 > div:nth-child(2n + 1),
  .flex.layout-content-inline_grid_70_30 > div:nth-child(2n),
  .flex.layout-content-inline_grid_30_70 > div:nth-child(2n + 1),
  .flex.layout-content-inline_grid_30_70 > div:nth-child(2n),
  .flex.layout-content-inline_grid_double > div:nth-child(2n),
  .flex.layout-content-inline_grid_double > div:nth-child(2n + 1),
  .flex.layout-content-inline_grid_triple > div:nth-child(3n+2),
  .flex.layout-content-inline_grid_triple > div:nth-child(3n+1),
  .flex.layout-content-inline_grid_triple > div:nth-child(3n),
  .layout-content-default-form-2,
  .layout-content-default-form-3 {
    display: flex;
    flex-flow: column nowrap;
    width:100%;
    margin: 0 0 8px 0;
  }
}

@media only screen and (max-width: 600px) {
  .pega-mashup table.responsive td {
    padding: 25px 8px 0;
  }

  .pega-mashup table.responsive td:before {
    position: absolute;
    top: -5px;
    padding: 0;
    min-width: 0;
    max-width: none;
    left: 8px;
  }

  .pega-mashup .flex.main-header {
    flex-flow: column;
    align-items: flex-start;
  }
}
