header,
.background-brand,
.product-icon,
main .secondary-options .front-option::after,
.benefits li::after {
	background-color: #0C8487;
}

header .menu-overlay a:hover,
header .menu-overlay a:active,
header .menu-overlay a:focus {
	background-color: #0C8487;
	color: #FFF;
}

body .color-brand {
	color: #0C8487;
}

.front header,
.offer-hero header {
	background-image: url('../img/hero-2.png');
}

.front.logged-in header {
	background-image: url('../img/hero-2.png');
}


.form>header {
	background-image: url('../img/hero-2.png');
}