/* controls */

[disabled] {
  opacity: 0.33;
  pointer-events: none;
}

.logo {
  height: 30rem;
  margin-right: 35rem;
}

label {
  margin-top: 0;
  color: #646363;
  font-size: 18rem;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
}

/* Select boxes, radois, checks, inputs */
select,
input,
textarea {
  margin-top: 0;
  background: #fff;
  border: 1rem solid #d1d2d3;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 50rem;
  width: 305rem;
  max-width: 100%;
  display: block;
  padding: 0 14rem;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
}

select {
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.06 28.04' width='18' height='9'%3E%3Cpath fill='%23295ED9' d='M47.51.64a1.91 1.91 0 00-2.7 0L24.1 23.25 3.35.65 3.17.47A1.91 1.91 0 10.66 3.35l21.87 23.84a1.69 1.69 0 00.13.31 2.15 2.15 0 002.85 0 1.75 1.75 0 00.13-.32L47.51 3.34a1.91 1.91 0 000-2.7z'/%3E%3C/svg%3E")
    right 15px top 50% no-repeat;
  padding-right: 48px;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select,
input {
  height: 50rem;
  font-size: 18rem;
}

a,
button,
input,
textarea,
select {
  transition: all 0.25s ease-out;
}

a:hover {
  cursor: pointer;
}

/* Checks */
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 0;
  border: 1rem solid #d1d2d3;
  box-sizing: border-box;
}

input[type='checkbox']:hover,
input[type='checkbox']:active,
input[type='checkbox']:checked,
input[type='checkbox']:indeterminate {
  border-color: #295ed9;
}

input[type='checkbox']:checked,
input[type='checkbox']:indeterminate {
  background-color: #eceff8;
}

input[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 26'%3E%3Cpath fill='%23295ED9' d='M12.42 25.99l-12.42-12.42 2.83-2.83 9.32 9.33 16.73-20.07 3.07 2.56-19.53 23.43z'/%3E%3C/svg%3E");
}

input[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 6'%3E%3Cpath fill='%23295ED9' d='M32 .01l-32-.01v6h32v-5.99z'/%3E%3C/svg%3E");
}

input[type='checkbox']:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

input[type='checkbox']::-ms-check {
  color: #fff;
  background: #fff;
  border-radius: 0;
  border: 1rem solid #d1d2d3;
  box-sizing: border-box;
  padding: 20%;
}

input[type='checkbox']:focus::-ms-check,
input[type='checkbox']:hover::-ms-check,
input[type='checkbox']:active::-ms-check,
input[type='checkbox']:checked::-ms-check,
input[type='checkbox']:indeterminate::-ms-check {
  border-color: #295ed9;
}

input[type='checkbox']:checked::-ms-check,
input[type='checkbox']:indeterminate::-ms-check {
  color: #295ed9;
  background-color: #eceff8;
}

/* Misc */
.hidden {
  opacity: 0;
  display: none;
}

.show {
  opacity: 1;
  display: block;
}

.overlay {
  background: #fff;
  position: absolute;
  padding: 35rem 36rem;
  right: 28px;
  align-items: center;
  filter: drop-shadow(0 3rem 21rem rgba(0, 0, 0, 0.5));
  top: 90rem;
  transition: opacity 0.25s ease-out;
  z-index: 1000;
}

.overlay::after {
  content: '';
  width: 28rem;
  height: 28rem;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: -14rem;
  right: 36rem;
  margin-left: -14rem;
}

.overlay > *,
.field {
  margin-bottom: 25rem;
}

.overlay > *:last-child {
  margin-bottom: 0;
}

button,
.button {
  background: #295ed9;
  border: 1px solid #295ed9;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  height: 40rem;
  min-width: 140rem;
  border-radius: 3rem;
  cursor: pointer;
}

button.more {
  height: 50rem;
}

button.launch-login {
  margin-top: 3px;
  margin-bottom: 3px;
}

button.more,
button.more:hover,
button.more:active,
button.more:focus,
button.launch-login,
button.launch-login:hover,
button.launch-login:active,
button.launch-login:focus {
  background: #fff;
  color: #295ed9;
  border: 1px solid transparent;
}

button.launch-menu {
  margin-top: 3px;
  margin-bottom: 3px;
  background: transparent;
  font-size: 16rem;
  border: none;
  min-width: 100rem;
}

button:hover {
  border-color: #224fb6;
}

button,
button:hover,
button:focus,
button:active {
  color: #fff;
  text-decoration: none;
}

button.secondary {
  border: none;
  background: #fff;
}

button.secondary:hover {
  border: none;
}

button.tertiary {
  background: none;
  border-color: rgba(41, 94, 217, 0);
  min-width: 40rem;
  padding: 0;
}

button.light {
  background: none;
  border: none;
  color: #fff;
  min-width: 40rem;
  padding: 5rem;
  opacity: 0.85;
  font-size: 18rem;
}

button.light:hover,
button.light:focus,
button.light:active {
  opacity: 1;
}

button.secondary,
.button.secondary,
button.secondary:hover,
.button.secondary:hover,
button.secondary:focus,
.button.secondary:focus,
button.secondary:active,
.button.secondary:active,
button.tertiary,
.button.tertiary,
button.tertiary:hover,
.button.tertiary:hover,
button.tertiary:focus,
.button.tertiary:focus,
button.tertiary:active,
.button.tertiary:active {
  color: #295ed9;
}

button.simple {
  background: transparent;
  border: none;
  color: #295ed9;
  min-width: 0;
  padding: 0;
}

button.simple:hover,
button.simple:active,
button.simple:hover {
  background: transparent;
  border: none;
  color: #295ed9;
  text-decoration: underline;
}

.overlay button,
.overlay .button {
  width: 100%;
}

.field > * {
  margin-top: 5rem;
}

.field :not(label) {
  order: 2;
}

.field.check {
  flex-direction: row;
}

.field.check * {
  order: 1;
  margin-right: 15rem;
}

.field .error,
.field .helper {
  font-size: 16px;
}

.field .error {
  color: red;
}

.field .helper {
  color: #646363;
}

.password,
.username {
  position: relative;
}

.avatar {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 4rem solid #fff;
}

.pi.product-icon {
  min-width: 70rem;
  height: 70rem;
  border-radius: 50%;
  font-size: 30rem;
  line-height: 60rem;
  text-align: center;
  color: #fff;
}

.menu-overlay {
  background: #fff;
  position: absolute;
  transition: height 0.25s ease-in-out;
  right: 40rem;
  min-width: 200px;
  height: 0;
  overflow: hidden;
  z-index: 2;
}

header .menu-overlay a {
  color: #414949;
  text-transform: none;
  padding-right: 28rem;
  line-height: 40rem;
  border-bottom: 1px solid #fdfdfd;
  text-align: right;
  display: block;
}

.fatlist > li {
  border-bottom: 1rem solid #e6e7e8;
  padding: 20rem;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #646363;
}

th,
td {
  padding: 16rem 8rem;
  color: #414949;
  text-align: left;
}

th.align-r,
td.align-r {
  text-align: right;
}

.filter {
  border: none;
  border-bottom: 1px solid #dedede;
  margin: 0 -12rem 8rem auto;
  max-width: 50%;
  color: #000;
}

.pi.pi-search {
  color: #000;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 18rem;
  font-weight: 600;
  padding: 8rem;
  margin-bottom: 0;
  color: #295ed9;
  border: none;
  cursor: pointer;
  height: 40rem;
  border: 1px solid #295ed9;
  border-radius: 3rem;
  transition: all 0.25s ease-out;
}
button.file-download:hover,
button.file-download:active,
button.file-download:focus,
.inputfile:hover + label,
.inputfile:active + label,
.inputfile:focus + label {
  outline: 2px solid #295ed9;
  border-radius: 0;
}

button.file-download {
  color: #295ed9;
  background: #fff;
  font-weight: 600;
}
