/* layout */
.form {
  flex: 1;
}

.form main {
  color: #fff;
  min-height: calc(100vh - 244px);
  margin-top: -300px;
}

.kmhelp > div {
  height: calc(100vh - 244px);
}

.kmhelp > div > iframe {
  height: 100% !important;
}

.front header {
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 7px;
  margin-bottom: 70px;
}

.front > header {
  justify-content: flex-start;
  margin-bottom: 0;
}

.front > main {
  margin-top: -600px;
}

.front .hero-wrap {
  height: 600px;
}

.hero-wrap button.more {
  width: 150px;
}

.hero-wrap a {
  width: 150px;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  line-height: 40px;
}

.form > header {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  padding-top: 7px;
  height: 400px;
}

.flex {
  display: flex;
}

.account-picker > .flex > .content-card {
  margin: 0 8px 8px 8px;
  flex: 1;
}

.account-picker > .flex > .content-card:first-child {
  margin-left: 0;
}
.account-picker > .flex > .content-card:last-child {
  margin-right: 0;
}

.flex-col-3 {
  flex-wrap: nowrap;
}

.flex-col-3 > div {
  width: calc((100% / 3) - (32px / 3));
  margin: 0 8px 8px 8px;
}

.flex-col-3 > div:last-child {
  margin-right: 0;
}

.flex-col-3 > div:first-child {
  margin-left: 0;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-align-r {
  margin-left: auto;
}

.flex-grow-r {
  flex: 1;
  justify-content: flex-end;
}

.flex-mid-align {
  align-items: center;
}

.space-nowrap {
  white-space: nowrap;
}

a.km {
  margin-right: 21px;
}

.cols-reverse .col-1 {
  order: 2;
}

.cols-reverse .col-2 {
  margin-left: 0;
  margin-right: 35px;
  padding: 0;
  box-shadow: none;
}

body {
  margin: 0;
}

.wrap {
  width: 100%;
  max-width: 1300px;
  padding: 0 21px;
  margin: 0 auto 16px auto;
}

footer .wrap {
  margin-bottom: 0;
  align-items: center;
}

.category .wrap {
  max-width: 1000px;
  margin: 0 auto;
}

footer .wrap,
.wrap.header {
  max-width: 100%;
}

.wrap.header {
  align-items: flex-end;
  margin-bottom: 0;
  height: 55px;
}

header {
  height: 113px;
  justify-content: center;
  margin-bottom: 45px;
}

.front.logged-in header {
  padding-top: 29.5px;
}

header.settings {
  margin-bottom: 0;
  padding: 0 16px;
  flex-flow: row wrap;
}

header.settings > h1 {
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
}

header ul.flex li {
  margin-right: 30px;
}

.embedded-content > body {
  background: transparent;
}

.embedded-content .header-light h2 {
  color: #fff;
}

.embedded-content .header-light > a {
  flex-grow: 1;
  text-align: right;
  color: #fff;
  line-height: 42px;
}

.embedded-content .col-2 {
  margin: 0 0 0 35px;
  min-width: 200px;
}

.embedded-content .col-2 h3 {
  margin-top: 0;
}

.embedded-content .button-row > button {
  min-width: 140px;
  margin: 0 35px 14px 0;
  width: calc((100% - 118px) / 4);
  padding: 0 14px;
}

.embedded-content .button-row > button:last-child {
  margin-right: 0;
}

.hero-wrap {
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.hero-wrap.hero-with-img > div {
  width: 50%;
}

.hero-wrap.hero-with-img > div:last-child {
  text-align: center;
}

main,
.button-row button {
  flex-grow: 1;
}

.primary-options > .front-option > .details {
  margin-top: 20px;
}

.options {
  display: flex;
  max-width: 1230px;
  justify-content: space-between;
}

.secondary-options .banner {
  height: 317px;
  background: no-repeat 50% 0 transparent;
  background-size: cover;
}

.secondary-options .front-option {
  padding-top: 86px;
  background-size: 68px;
  position: relative;
}

.offer-img {
  max-width: 100%;
}

.list-box > h3 {
  color: #414949;
  margin-bottom: 8px;
}

.list-box > p {
  font-size: 27px;
  color: #414949;
  margin: 0;
  word-break: break-all;
}

.secondary-options .front-option::after {
  content: '';
  display: block;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -34px;
  background: url('../img/contact.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 30px auto;
  border: 4px solid #fff;
}

.secondary-options .paperless::after {
  background-image: url('../img/paperless.svg');
}

.secondary-options .wrap {
  max-width: 738px;
  margin-top: -20px;
}

.primary-options.wrap {
  padding: 0;
}

.hero-wrap img {
  max-height: 260px;
  max-width: 100%;
}

img.option {
  max-height: 260px;
  max-width: 100%;
}

.primary-options img.option {
  border-radius: 50%;
}

.col-2 img {
  max-width: 100%;
}

.front-option {
  text-align: center;
  min-width: 150px;
  padding: 16px;
  flex: 1;
  display: flex;
  flex-flow: column;
}

footer {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

footer nav > div.flex > a {
  margin-right: 35px;
  font-size: 18px;
  color: #646363;
}

footer nav > div.flex {
  margin: 26px 0;
  align-items: center;
}

.accounts-list > li {
  flex-grow: 1;
}

.accounts-list > li,
.button-row > button {
  margin: 0 8px 24px 8px;
}

.accounts-list > li:first-child,
.button-row > button:first-child {
  margin-left: 0;
}

.accounts-list > li:last-child,
.button-row > button:last-child {
  margin-right: 0;
}

.col-1 {
  width: calc(75% - 35px);
}

.col-2 {
  flex-grow: 1;
  width: 25%;
  margin-bottom: 24px;
  margin-left: 30px;
}

.col-3 {
  flex: 1;
  width: calc((100% - 70px) / 3);
  margin-left: 35px;
}

.col-3:first-child {
  margin-left: 0;
}

.content-card {
  padding: 20px;
}

pega-embed {
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  margin-bottom: 16px;
}

.primary-card {
  padding: 35px;
}

.primary-card > section {
  margin-bottom: 16px;
}

.primary-card > section:last-child {
  margin-bottom: 0;
}

.secondary-card {
  padding: 20px;
  margin-bottom: 30px;
}

.offer .col-2 {
  margin-top: 0;
}

.col-2 img {
  margin: 0 auto;
  display: block;
}

.circle {
  border-radius: 999px;
}

.menu {
  display: none;
}

#pega-gadget ~ .col-2 {
  margin-top: 90px;
}

/* Implementation of the floating label on the stacked layout */
.layout-stacked > .field-item {
  margin: 16px 0 8px 0;
  position: relative;
}

.layout-stacked > .field-item > label {
  position: absolute;
  top: 0;
  left: 8px;
  transition: all 0.3s ease;
  padding: 0;
  margin: 10px 0 0 0;
  pointer-events: none;
  font-size: 16px;
  color: #414949;
}

.layout-stacked > .field-item > input:focus,
.layout-stacked > .field-item > input:hover,
.layout-stacked > .field-item > input:active,
.layout-stacked > .field-item > input {
  transition: all 0.3s linear;
  border: none;
  border-bottom: 1px solid #d1d2d3;
  outline: none;
  color: #000;
  line-height: 40px;
  padding: 10px 0 3px 0;
  height: 40px;
  font-weight: 300;
}

.layout-stacked > .field-item > input::placeholder {
  color: transparent;
  font-size: 0;
}

.layout-stacked > .field-item > input:active + label,
.layout-stacked > .field-item > input:focus + label,
.layout-stacked > .field-item > input:not(:placeholder-shown) + label {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  margin-top: 16px;
}

/* label left layout */
.layout-labels-left > .field-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}

.layout-labels-left > .field-item > label {
  margin: 0 16px 0 0;
  width:300px;
}
.layout-labels-left > .field-item > label.width-auto {
  width: auto;
}

.layout-labels-left > .field-item > select,
.layout-labels-left > .field-item > input[type='text'],
.layout-labels-left > .field-item > input[type='password'],
.layout-labels-left > .field-item > textarea {
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  resize: none;
}

/* label top layout */
.layout-labels-top > .field-item > label {
  margin: 0 0 4px 0;
}

.layout-labels-top > .field-item > select,
.layout-labels-top > .field-item > input[type='text'],
.layout-labels-top > .field-item > input[type='password'],
.layout-labels-top > .field-item > textarea {
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  margin-bottom: 16px;
  resize: none;
}

.layout-labels-top > .field-item.field-checkbox {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 16px;
  margin-bottom: 16px;
}

.layout-labels-top > .field-item.field-checkbox > label {
  margin-right: 16px;
}

/* inline grid double with responsive behavior */
.layout-inline-grid-double {
  display: flex;
  flex-flow: row wrap;
}

.layout-inline-grid-double > div {
  width: calc(50% - 8px);
  margin-right: 8px;
}

.layout-inline-grid-double > div:nth-child(2n) {
  margin: 0 0 0 8px;
}

/* helper classes */
.padding-2x {
  padding: 16px;
}

.margin-r-2x {
  margin-right: 16px;
}

.margin-t-2x {
  margin-top: 16px;
}

.padding-t-2x {
  padding-top: 16px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.float-r {
  float: right;
}

.margin-r-auto {
  margin-right: auto;
}

.margin-l-auto {
  margin-left: auto;
}

.width-100-pct {
  width: 100%;
}

.height-100-pct {
  height: 100%;
}

.full-height > iframe {
  min-height: calc(100vh - 244px);
}

div.inline-middle > button {
  margin-right: 16px;
}

div.inline-middle > button:last-child {
  margin-right: 0;
}

div[data-pega-gadgetname] {
  width: 100%;
}

/* tab layout */
[role='tablist'] li {
  display: inline-block;
  list-style: none;
}

a[role='tab'] {
  padding: 12px 16px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: var(--interactiveColor);
  width: 100%;
}

a[aria-selected='true'],
a[role='tab']:focus,
a[role='tab']:hover,
a[role='tab']:active {
  background: rgba(210, 210, 210, 0.7);
  text-decoration: underline;
}

[role='tabpanel'][aria-hidden='true'] {
  display: none;
}

.bill-pay p {
  margin-bottom: 16px;
}

a.kmhelp {
  margin: auto 16px auto 0;
}

.tab-vertical-menu {
  max-width: 1300px;
  margin: 21px auto;
}

.tab-vertical-menu > .tab-interface {
  display: flex;
  flex-flow: column;
  width: 350px;
  margin: 0 24px;
  position: sticky;
  top: 21px;
  float: left;
}

.tab-vertical-menu > .tab-interface > .tab-action,
.tab-vertical-menu > .tab-interface ul {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 8px;
}

.tab-vertical-menu > .tab-interface > .container > .header {
  display: none;
}

.tab-vertical-menu > .tab-interface > .container > .body {
  display: block;
  background: none;
  padding: 0;
}

.tab-vertical-menu > .tab-interface > .tab-action {
  padding: 20px;
}

.tab-vertical-menu > .tabs-details {
  flex: 1;
  margin-right: 24px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-left: 396px;
}

.container-transparent h3,
.container-transparent p {
  color: #000;
}

.container-transparent h3 {
  margin: 8px 0;
}

.container > .header {
  height: 40px;
  align-items: baseline;
  cursor: pointer;
}
.container > .body {
  background: #eeeded;
  padding: 16px;
}

.container > .header > h3 {
  color: #000;
}

.container > .header > button.simple {
  color: #000;
  margin-left: 21px;
  min-height: auto;
  text-align: center;
  padding: 0 8px;
}
.container > .header > button.simple > i {
  margin-right: 0;
}
.container.collapsed > .body {
  display: none;
}
