/* Special styling for the offer page */
.offer>header {
  height: 600rem;
  padding-top: 50rem;
}

.offer>main {
  margin-top: -500rem;
  color: #414949;
}

.offer h1 {
  font-size: 32rem;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.offer-intro li {
  margin-bottom: 16rem;
  font-size: 18rem;
  color: #FFF;
}

.offer-request {
  margin: 0 auto;
}

.offer-cards {
  margin-top: 110rem;
}

.offer-intro .pi {
  font-size: 26rem;
  background: #FFF;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  display: inline-block;
}

.offer-intro .pi:before {
  text-align: center;
  width: 50rem;
  line-height: 50rem;
}

.offer-cards .pi {
  font-size: 40rem;
  background: #FFF;
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  display: inline-block;
  border: 1rem solid #dedede;
}

.offer-cards p {
  font-size: 18rem;
  font-weight: 800;
  color: #414949;
}

.offer-cards .pi:before {
  text-align: center;
  width: 80rem;
  line-height: 80rem;
}

.offer-request>div {
  max-width: 400rem;
}

.offer .primary-card h3 {
  font-size: 14rem;
  font-weight: 800;
}

.offer .promo {
  text-align: center;
  padding: 55rem 16rem;
}

.offer .promo h4 {
  font-size: 28rem;
  font-weight: 600;
  margin-top: 0;
}

.offer-footer,
.offer-footer footer ul.flex>a,
.offer-footer p {
  color: #FFF;
}

.offer-benefits {
  background: #ececec;
}

.offer-cards>div,
.offer-benefits>div {
  max-width: 780rem;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.offer-cards>.flex>div,
.offer-benefits>.flex>div {
  width: 260rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 18rem;
}

.offer-cards>.flex>div {
  align-items: center;
}

.offer .offer-benefits span {
  text-align: left;
  margin: 8rem 0 16rem 0;
}

.offer-details>div {
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1300rem;
  margin: 0 auto;
  width: 100%;
}

.offer-details>div>div {
  width: 50%;
}

.offer-details>div>.details {
  padding: 0 30rem;
}

.offer-details h4 {
  font-size: 20rem;
  font-weight: 800;
  margin: 0;
}

.offer-details span {
  font-size: 14rem;
}

.offer-details .line {
  width: 81rem;
  height: 5rem;
  border-radius: 5rem;
  display: block;
  margin: 8rem 0 21rem 0;
}

.offer-details .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300rem;
}