/* Special styling for the offer page */
body>#app.form.offer {
  background: #FFF;
  height: auto;
}

.offer>header {
  height: 400rem;
  padding-top: 50rem;
  text-align: center;
}

.offer>header p {
  color: #FFF;
  max-width: 500rem;
}

.offer>main {
  margin-top: -100rem;
  color: #414949;
  max-width: 730rem;
}

.offer .primary-card h3 {
  font-size: 14rem;
  font-weight: 800;
  text-transform: uppercase;
}

.offer .promo {
  text-align: center;
  padding: 55rem 16rem;
}

.offer .promo h4 {
  font-size: 28rem;
  font-weight: 600;
  margin-top: 0;
}

.offer-footer .promo h4,
.offer-footer footer ul.flex>a,
.offer-footer button.simple {
  color: #FFF;
}

.offer-footer p {
  color: #FFF;
}

.main-offer .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-offer>div {
  width: 50%;
}

.main-offer>.details {
  margin-left: 30rem;
}

.main-offer p {
  font-size: 18rem;
  color: #4a4a4a;
}

.offer-cards>.flex>div {
  display: flex;
  flex-flow: column nowrap;
  padding: 16rem 0 0 0;
  flex: 1;
  margin: 8rem;
}

.offer-cards .highlight {
  border-top: solid;
  border-width: 1px;
  padding: 8rem 0;
  font-size: 14rem;
  font-weight: 800;
}

.offer-cards p {
  font-size: 14rem;
  color: #414949;
  padding: 0 8rem;
}

.offer-cards .primary-card h3 {
  font-size: 18rem;
  color: #414949;
  font-weight: 800;
  padding: 0 8rem;
}

.offer-details .line {
  width: 81rem;
  height: 5rem;
  border-radius: 5rem;
  display: block;
  margin: 8rem 0 21rem 0;
}

.offer-details .image {
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300rem;
}

.offer-details>div>div {
  width: 50%;
}

.offer-highlights>div {
  margin-bottom: 25rem;
}

.offer-highlights .pi {
  font-size: 40rem;
  background: #FFF;
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  display: inline-block;
  border: 1rem solid #dedede;
}

.offer-highlights p {
  font-size: 18rem;
  font-weight: 800;
  color: #414949;
}

.offer-highlights .pi:before {
  text-align: center;
  width: 80rem;
  line-height: 80rem;
}