/* Text */

body,
button {
  font: 16rem/1.43 'Open Sans', sans-serif;
}

body {
  color: #414949;
}

a,
a:visited {
  text-decoration: none;
  font-weight: 600;
}

a:not(.decorated):hover {
  text-decoration: underline;
}

a.fatlist-item {
  white-space: nowrap;
  margin-left: auto;
  text-align: right;
  padding-left: 28rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

.quick-links li,
.benefits li {
  margin-bottom: 28rem;
}

.benefits li {
  margin-left: 42rem;
  position: relative;
}

.benefits li::after {
  content: '';
  width: 24rem;
  height: 24rem;
  background: url('../img/checkmark-w.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14rem auto;
  top: -0;
  left: -42rem;
  position: absolute;
  border-radius: 50%;
}

header a,
header a:visited {
  font-size: 16rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

header span {
  color: #fff;
  font-size: 14rem;
  font-weight: 700;
  text-align: right;
}

h1 {
  font-weight: 300;
  font-size: 42rem;
  color: #fff;
  margin: 0 0 28rem 0;
}

h2,
.col-2 h3 {
  font-weight: 800;
  font-size: 20rem;
  margin: 0 0 16rem 0;
  color: #000;
  line-height: 1.2;
}

h1.hero {
  font-size: 90rem;
  line-height: 1.1;
  color: #fff;
}

p {
  font-size: 18rem;
  margin: 0 0 8rem 0;
}

.front-option > p {
  margin-bottom: 8rem;
}

.offer-hero header h1.hero {
  font-size: 78rem;
}

h1.hero span {
  display: block;
}

h3,
th {
  color: #939393;
}

h3 {
  font-size: 18rem;
  margin: 0 0 21rem 0;
}

h4 {
  font-size: 16rem;
  margin: 8rem 0;
  color: #000;
}

.quick-links li,
.quick-links a,
.col-2 h3,
.table-heading {
  font-size: 20rem;
}

.col-2 h3 {
  margin: 21rem 0 14rem 0;
}

.quick-links li,
.quick-links a {
  font-weight: 700;
}

.offer-text p {
  margin: 14rem 0;
}

.offer-text h3,
h3.account-type {
  margin-bottom: 14rem;
}

.table-heading {
  border-bottom: 1px solid #dedede;
  margin: 0 -35rem 21rem -35rem;
  padding: 0 35rem 21rem 35rem;
}

table.align-center th,
table.align-center td {
  text-align: center;
  width: 33.3333%;
}

table.color-light tr {
  background-color: #f1f1f1;
}

table.color-light td {
  border: 1px solid #ffffff;
  padding: 8px;
  color: #000;
}

table.color-heading tr.heading {
  background: #f1f1f1;
  font-size: 12rem;
  height: 45rem;
}

table.color-heading .trend {
  font-size: 10rem;
}

p {
  color: #939393;
}

p.activity {
  font-size: 20rem;
  margin: 0;
}

time {
  text-transform: uppercase;
  color: #939393;
  font-size: 18rem;
  font-weight: 600;
}

time span {
  display: block;
}

time.fatlist-item {
  min-width: 158rem;
}

.keyrates h4 {
  color: #939393;
  font-weight: 300;
}

.keyrates h4 ~ table tr {
  font-size: 20rem;
}

.cash-projections > div {
  align-items: center;
}

.cash-projections h2 {
  margin: 0 auto 0 0;
}
.cash-projections span {
  font-size: 20rem;
  color: #000;
}

.cash-projections > div > div {
  margin-left: 20rem;
}

.cash-projections > svg {
  border: 1px solid #ccc;
  margin-top: 20rem;
}
